<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>Learn Ionic!</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 class="search-query">
    <span>Showing: </span>
    <ion-badge class="query-tag">{{ _query }}</ion-badge>
    <span class="query-explanation"> concepts</span>
  </h3>

  <ion-card class="category-concept-card" [style.background-color]="category.background" *ngFor="let category of categories" (click)="openDetails({ category: category })">
    <ion-card-header>
      <h2 class="category-title">{{ category.title }}</h2>
    </ion-card-header>
    <ion-card-content>
      <p class="category-description">
        {{ category.description }}
      </p>
      <ion-row>
        <ion-col no-padding>
          <ion-badge class="category-tag" *ngFor="let tag of category.tags" item-right>{{ tag.name }}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
